.container{
    height: 100vh;
    display: flex;  
    justify-content: center;
    flex-direction: column;
}

.subContainer{
    display: flex;  
    justify-content: center;
    flex-direction: column;
}

.subContainerReverse{
    display: flex;  
    flex-direction: column-reverse;
    justify-content: flex-end;
    overflow-y: hidden;
    height: 335px;
}